/* CSS for code mirror movie start button */
.CodeMirror-start {
  margin-bottom: 30px;
  padding: 5px 40px;
  font-size: 16px;
  font-weight: 700;
  background-color: #DDD;
  border: 1px solid #AAA;
}

/* CSS for code mirror panel */
.CodeMirror {
  font-size: 12px;
  /* background: #f5f5f5; */
  border: 1px solid #e3e3e3;
  color: #80D533;
  background-color: #252B23;
}

.CodeMirror-gutters {
  background-color: #DDD;
}

.CodeMirror-gutter {
  background-color: #DDD !important;
}

.CodeMirror-linenumber {
  font-size: 12px;
  color: #000 !important;
}

.CodeMirror-selected {
  background-color: #783335;
}

/* CSS for code mirror tooltip panel */
.CodeMirror-tooltip__footer {
  position: relative;
  height: 25px;
  padding-top: 10px;
}

.hidden {
  visibility: hidden;
}

.CodeMirror-tooltip__back-button,
.CodeMirror-tooltip__next-button,
.CodeMirror-tooltip__finish-button {
  position: absolute;
  padding: 5px;
  top: 5px;
  color: white;
  font-weight: 700;
  background-color: #EA3;
  border-radius: 4px;
  border-color: transparent;
}

.CodeMirror-tooltip__back-button {
  left: 0;
}

.CodeMirror-tooltip__next-button,
.CodeMirror-tooltip__finish-button {
  right: 0;
}